.site-footer {
    background-color: #222B33;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border: 0;
}
.footer-container {
    overflow: hidden;
    max-width: 100vw;
    box-sizing: border-box;
}
.site-footer .footer-widgets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer .container {
    width: 80%;
}
.site-footer .widget-area {
    flex: 1;
    margin-bottom: 20px;
}
.site-footer .site-info {
    margin-top: 20px;
    font-size: 0.9em;
}
.site-footer a {
    color: #fff;
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}
.footer-contact {
    margin: auto;
    margin-left: 10%;
    font-size: 0.9em;
}
.footer-2 {
    max-width: 10px;
}
.footer-3 {
    text-align: left;
}
.footer-1 {
    text-align: left;
    padding-left: 20px;
}
.footer-widgets {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    align-items: flex-start;
    width: 90%;
    box-sizing: border-box;
}
.footer-widgets .widget-area {
    flex: 1;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
@media (max-width: 768px) {
    .footer-widgets .widget-area p {
        font-size: 15px;
    }
    .footer-widgets {
        flex-direction: column;
    }
    .widget-area {
        margin-right: auto;
    }
    .footer-2 {
        display: none;
    }
}